body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
p{
    margin-bottom: 40px;
}
.hello{
    color: #363958;
}
.name{
    color: #FF8367;
}
.meanu a{
    float: left;
    text-decoration: none;
    color: black;
    text-align: right;
    padding: 10px;
}
.top-section h1{
    line-height: 15px;
}
h1{
    font-size: 55px;
}
h2{
    font-size: 42px;
}
h4{
    font-size: 25px;
    color: #696871;
}
.meanu{
    height: 40px;
}
.about-section{
    height: 650px;
}
.top-section{
    height: 600px;
    padding-top: 20px;
}
.half-width{
    float: left;
    width: 40%;
    padding-left: 5%;
    margin-left: 2%;
}
.half-width img{
    width: 100%;
}
.link-botton{
    text-decoration: none;
    padding: 14px 29px;
    background-image: linear-gradient(45deg, #FC7662, #F56260);
    border-radius: 10px;
    color: white;
    font-weight: 700;
}
.project-section{
    height: 650px;
    background-color: #F8F9FC;
}
.third-width{
    float: left;
    width: 25%;
    padding: 2%;
    margin: 2%;
    box-shadow: 2px 2px 15px;
    border-radius: 10px;
}
.third-width img{
    width: 100%;
}
.center1{
    text-align: center;
}
.work-section{
    height: 200px;
    position: relative;

}
.work-section img{
    width: 66%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.footer{
    height: 300px;
    text-align: center;
}
.icons{
    float: left;
    width: 100%;
}
.icons img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
}
.center{
    position: absolute;
    color: white;
    top: 10%;
    left: 20%;
}
.center-right{
    position: absolute;
    color: white;
    top: 45%;
    right: 20%;
}